a{ 
background-color: rgb(255, 51, 153); 
color: rgb(255, 255, 255);
text-decoration: none;
padding: 14px;
font-size: medium;
padding-left: 42px;
padding-right: 42px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
border-radius: 3px;
box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.144);
margin: 50px;
}

a:hover{ 
    outline: solid 2px rgb(255, 74, 162);
    background-color: rgb(252, 193, 222); 
    color: rgb(255, 74, 162);
    text-decoration: none;
    padding: 14px;
    font-size: medium;
    padding-left: 42px;
    padding-right: 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.144);
    margin: 50px;
    }

h1{
color: cornflowerblue;
}
